@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("fonts.css");

@import url("reser.css");


body {
	color: #0d1216;
	font-size: 20px;
}


.header__title-shadow{
	text-align: center;
	line-height: 3;
	font-size: 40px;
	color: rgb(169, 19, 19);
	text-shadow: 1px 12px 12px rgb(38, 18, 186), 1px -12px 12px rgb(206, 187, 17);
}


.header__title{
	text-align: center;
	font-size: 25px;
	line-height: 2;
	color: rgb(169, 19, 19);
}

.header a {
	color: red;
	text-decoration: underline;
	text-decoration-color: rgb(15, 88, 31);
}



.header__hello{
	line-height: 2;
	text-align: center;
	font-size: 40px;
	color: rgb(15, 88, 31);
	text-shadow: 0px 0px 10px rgb(15, 88, 31);
	text-transform: uppercase;
}



.text {
	font-family: "Roboto";
	text-align: center;
	line-height: 1.5;
}

.italic {
	font-style: italic;
}

.oblique {
	font-style: oblique;
}

.thin {
	font-weight: 100;
}

.light {
	font-weight: 200;
}

.regular {
	font-weight: 300;
}

.medium {
	font-weight: 400;
}

.semibold {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.black {
	font-weight: 900;
}
.color-red {
	color: red;
}

.color-green {
	color: rgb(5, 157, 5);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.line-through{
	text-decoration: line-through;
}

.overline {
	text-decoration: overline;
}

.none {
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.shadow{
	text-shadow: -5px -6px 5px black;
	font-size: 25px;
}

.capitalize {
	text-transform:capitalize ;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.word-spacing{
	word-spacing: 10px;
}

.footer__left {
	font-size: 15px;
	letter-spacing: 3px;

}

.footer__right {
	text-align: right;
	font-size: 15px;
	letter-spacing: 3px;
	
}

.footer__left a {
	color: red;
	text-decoration: underline;
	text-decoration-color: rgb(15, 88, 31);
}

.footer__right a {
	color: red;
	text-decoration: underline;
	text-decoration-color: rgb(15, 88, 31);
}









