/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url(reset.css);

.wapper {
	background: linear-gradient(90deg, rgba(190, 224, 53, 1) 13%, rgba(120, 176, 240, 1) 93%);
	font-size: 0;
	overflow: auto;
}

header,
footer {
	color: #efefef;
	background-color: #252525;
	text-align: center;
	font-size: 35px;
	line-height: 1.5;
	text-transform: uppercase;
	font-family: "Oswald";
}

.link-page:hover {
	text-decoration: underline;
}

.title {
	font-size: 50px;
	color: #000000;
	text-align: center;
	max-width: 1000px;
	margin: 100px auto 0;



}

.main__conteiner {
	max-width: 1300px;
	min-height: 800px;
	margin: 0px auto 0;
	background-color: #fff;
	padding: 50px;

}

.game__line {
	background-color: blueviolet;
}


.game__line-1 {
	height: 50px;
	width: 50px;
}


.game__line-2 {
	height: 50px;
	width: 50px;
	visibility: hidden;
}

.game__line-1:hover+.game__line-2,
.game__line-2:hover {
	visibility: visible;
	width: 100%;
}

.game__line-3 {
	width: 1150px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}


.game__line-3-1 {
	height: 50px;
	width: 50px;
	display: inline-block;
	visibility: hidden;
}

.game__line-2:hover~.game__line-3-1,
.game__line-3-1:hover {
	visibility: visible;
}

.game__line-4 {
	width: 950px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}

.game__line-4-1 {
	height: 50px;
	width: 250px;
	display: inline-block;
	visibility: hidden;
}

.game__line-3-1:hover~.game__line-4-1,
.game__line-4-1:hover {
	visibility: visible;
}

.game__line-5 {
	width: 950px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}

.game__line-5-1 {
	height: 150px;
	width: 50px;
	display: inline-block;
	visibility: hidden;
}

.game__line-4-1:hover~.game__line-5-1,
.game__line-5-1:hover {
	visibility: visible;
}



.game__line-6 {
	width: 700px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}

.game__line-6-1 {
	height: 50px;
	width: 450px;
	display: inline-block;
	visibility: hidden;
	display: inline-block;
}

.game__line-5-1:hover~.game__line-6-1,
.game__line-6-1:hover {
	visibility: visible;
}

.game__line-6-fake {
	height: 50px;
	width: 50px;
	display: inline-block;
	visibility: hidden;
	background-color: aqua;
	font-size: 0px;
	color: black;
	display: inline-block;
}

.game__line-6-fake div {
	display: inline-block;
}

.game__line-6-fake:hover {
	background-color: brown;
}

.game__line-6-1:hover~.game__line-6-fake,
.game__line-6-fake:hover {
	visibility: visible;
}


.game__line-7 {
	width: 750px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}

.game__line-7-1 {
	height: 50px;
	width: 50px;
	display: inline-block;
	visibility: hidden;
	background-color: aqua;
}

.game__line-7-1:hover {
	background-color: rgb(107, 235, 38);
}

.game__line-6-1:hover~.game__line-7-1,
.game__line-7-1:hover {
	visibility: visible;
}


.game__line-8 {
	width: 750px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}

.game__line-8-1 {
	height: 50px;
	width: 450px;
	display: inline-block;
	visibility: hidden;

}

.game__line-7-1:hover~.game__line-8-1,
.game__line-8-1:hover {
	visibility: visible;
}

.game__line-9 {
	width: 1150px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
}

.game__line-9-1 {
	height: 50px;
	width: 50px;
	display: inline-block;
	visibility: hidden;

}

.game__line-8-1:hover~.game__line-9-1,
.game__line-9-1:hover {
	visibility: visible;
}


/* .game__line-10 {
	width: 50px;
	height: 50px;
	background-color: black;
	visibility: hidden; 
	display: inline-block;
} */

.game__line-10-1 {
	height: 25px;
	width: 100%;
	display: inline-block;
	visibility: hidden;

}

.game__line-9-1:hover~.game__line-10-1,
.game__line-10-1:hover {
	visibility: visible;
}

/* .game__line-11 {
	width: 1150px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
} */

.game__line-11-1 {
	height: 100px;
	width: 25px;
	display: inline-block;
	visibility: hidden;

}

.game__line-10-1:hover~.game__line-11-1,
.game__line-11-1:hover {
	visibility: visible;
}

/* .game__line-12 {
	width: 1150px;
	height: 50px;
	background-color: black;
	visibility: hidden;
	display: inline-block;
} */

.game__line-12-1 {
	height: 40px;
	width: 50px;
	display: inline-block;
	background-color: brown;
	visibility: hidden;
	margin-left: -11px;

}

.game__line-11-1:hover~.game__line-12-1,
.game__line-12-1:hover {
	visibility: visible;

}

.game-text1 {
	visibility: hidden;
	text-align: center;
	height: 800px;
}

.game__line-12-1:hover~.game-text1,
.game-text1:hover {
	visibility: visible;
	background: url("../img/game/05.jpg") 0 0 / cover no-repeat fixed;
}

.game-text2 {
	text-align: center;
	font-size: 70px;
	visibility: hidden;
	background: linear-gradient(90deg, rgba(190, 224, 53, 1) 13%, rgba(120, 176, 240, 1) 93%);
	min-height: 250px;
	padding-top: 80px;
	margin-top: 20px;
	color: #ffffff;
	font-family: "Oswald";
}


.game-text1:hover~.game-text2,
.game-text2:hover {
	visibility: visible;
}





































/* .game__line-4-1 {
	display: inline-block;
	visibility: hidden;
	height: 50px;
	width: 50px;
}

.game__line-3-1:hover~.game__line-4 {
	display: inline-block;
	width: 1150px;
	height: 50px;
}

.game__line-3-1:hover~.game__line-4-1,
.game__line-4-1:hover {
	visibility: visible;
	display: inline-block;
}

.game__line-4-1:hover {
	width: 100%;
} */