@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

@import url(reser.css);

body{
	font-size: 20px;
}

header{
	min-height: 200px;
	background-color: #d6d6d6;
}

.header__title h1{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top: 70px;
}

.main__title p {
	font-size: 25px;
	text-align: center;
	padding: 20px;
	margin: 20px;
	background-color: #ededed;
}

.marker-div{
background-color: rgb(231, 231, 158);
color: #03019a;
}

.marker-span{
	background-color: rgb(187, 105, 105);
	color: #00fa86;
}

.main__text{
	text-align: center;
	padding: 20px;
	margin: 20px;
	background-color: #ededed;
	line-height: 30px;
}

.main__block2 span{
	background-color: red;
}

.main__block2 div{
	background-color: yellow;
}

.main__block3 div{
	display: inline;
	background-color: yellow;
}

.main__block3 span{
	display: block;
	background-color: red;
}

.main__title h2{
	color: #d6d6d6;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 30px;
	background-color: rgb(79, 79, 79);
}

.block4__columns{
	text-align: center;
}

.column{
	margin: 30px 20px;
	display: inline-block;
	background-color: #d9e64f;
}

.block4__column1 {
padding-top: 30px;
}

.block4__column2 {
	padding-right: 30px;
}

.block4__column3 {
	padding-bottom: 30px;
}

.block4__column4 {
	padding-left: 30px;
}

.block4__column5 {
	padding: 30px 0 0 0;
}

.block4__column6 {
	padding: 0 30px 0 0;
}

.block4__column7 {
	padding: 0 0 30px 0;
}

.block4__column8 {
	padding: 0 0 0 30px;
}

.main__container{
	background-color:#f6e9e9;
}

.column2{
	display: block;
}

.block4__columns2{
	text-align: center;
}

.marggin__container{
	background-color: #f6e9e9;
	text-align: center;
}

.margin-block {
	padding-top: 13px;
	font-weight: 600;
	min-height: 50px;
	min-width: 1200px;
	display: inline-block;
}

.marggin__block1{
	background-color: #eebe6d;
	margin-right: 100px;
}

.marggin__block2{
background-color: #f0a21c;
}

.marggin__block3{
	background-color: #7e9e00;
	margin-top: 100px;
}
.marggin__block4{
	background-color: #a5c524;
	margin-left: 100px;
}
.marggin__block5{
	background-color: #d4f163;
	margin-bottom: 100px;
}

.marggin__block6{
	background-color: #6f4f19a9;
	margin: -50px 0 0 20px;
}

.marggin__block7 {
background-color: #4620d0;
margin-bottom: 60px;
}

.marggin__block8 {
background-color: #6b54bf;
margin-bottom: 50px;
display: block;
}
.marggin__block9 {
	margin-top: 100px;
background-color: #9483d4;
display: block;
}

.width-height__container{
	min-height: 800px;
	background-color: #f0ce92;
	text-align: center;
}

.blockk{
	min-height: 100px;
	min-width: 500px;
	vertical-align: top;
	background-color: #cf9e49;
	display: inline-block;
	margin: 100px;
}

.blockk p {
	padding: 10px;
} 

.width-height__block1 {
	max-width: 300px;
	max-height: 90px;
	}



.width-height__block2 {
	max-width: 300px;
	max-height: 90px;
	overflow: hidden;
}

.width-height__block3 {
	min-width: 300px;
}

.width-height__block4 {
	max-width: 300px;
	min-height: 300px;
}

.width-height__block5 {
	max-width: 300px;
	max-height: 150px;
	overflow: auto;
}

.width-height__block6 {
	max-width: 300px;
	max-height: 150px;
	overflow: scroll;
}

.bottom {
	background-color: #2b2929;
	max-height: 100px;
}

.bottom__container {
	margin: 0 auto;
	text-align: center;
	min-height: 60px;

}

.block {
	display: inline-block;
	padding: 20px 100px;
}

.block a {
	color: rgba(255, 255, 255, 0.773);
	letter-spacing: 5px;
	font-family: "Rubik Doodle Shadow", system-ui;
	font-size: 20px;
	text-shadow: 0 0 2px #ededed;
}

