@import url(reser.css);

header h1{
	text-align: center;
	font-size: 40px;
	letter-spacing: 5px;
	text-transform: uppercase;
	background-color: rgb(238, 238, 238);
	min-height: 100px;
	padding: 30px;
}

main ul{
	background-color: rgb(255, 255, 255);
	text-align: center;
	color: rgb(0, 0, 0);
}

main li{
	margin-bottom: 15px;
	padding: 30px;
	font-size: 30px;
}

.text{
	background-color: rgb(42, 42, 42);
	min-height: 100px;
	text-align: center;
}

.text a{
	color: aliceblue;
	padding: 40px;
	font-size: 40px;
	letter-spacing: 5px;
	text-decoration: underline;
	text-decoration-color: rgb(212, 212, 212);
}

